.App {
    text-align: center;
}

navbar {
    background-color: #F55A5A;
    display: flex;
    margin: auto;
    text-align: center;
}

.world--img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background-color: #F55A5A;
}

.header {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.075em;
    margin-right: auto;
}